@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GangwonEdu_OTFBoldA';
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.QBox, .ABox, .CBox {
  display: flex;
  justify-content: center;
}

.QBox {
  height: 50vh;
  line-height: 50vh;
}

.QBox .question {
  text-align: center;
  width: 70vw;
}

.ABox .answer{
  margin: 10vh 0;
  width: 50vw;
}

